/* Import Font */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;1,400&family=Space+Grotesk:wght@300;400;500;700&display=swap");

:root {
  --brutal-border: 1px solid #000000;
  --brutal-bg: #f4f4f0;
  --font-serif: "Playfair Display", serif;
  --font-sans: "Space Grotesk", sans-serif;

  /* Warna tambahan jika perlu */
  --text-primary: #000000;
  --bg-surface: #ffffff;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--brutal-bg);
  color: var(--text-primary);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
  padding: 0;
}

h1,
h2,
h3 {
  font-family: var(--font-serif);
  color: #000;
  font-weight: 400;
}
